  
body {
    background-color: #edf1f5;
} 
    p {
        font-family: ‘Segoe UI’, Tahoma, Geneva, Verdana, sans-serif;
        color: #85757f; 
        text-align :center;
        font-size:35px; background-color:#C9C9FF;
        margin-right: 15%;
        margin-left: 15%;
    }

